<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-4 col-sm-6 text-center">
            <h4>About us</h4>

            {{ .Site.Params.about_us | safeHTML }}
            {{ .Site.Params.about_description | safeHTML }}
            
            <a href="https://www.facebook.com/TWHSLC/" class="btn btn-small btn-template-main">Facebook</a>
            <a href="https://www.twitter.com/TWHSLC/" class="btn btn-small btn-template-main">twitter</a>
            
            
            <a href="/menu/about-us" class="btn btn-small btn-template-main">Learn more</a>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

        <div class="col-md-4 col-sm-6 text-center">

            <h4>Recent posts</h4>

            <div class="blog-entries">
                {{ range first 3 (where .Site.RegularPages "Type" "communications") }}
                <div class="item same-height-row clearfix">
                    <div class="image same-height-always">
                       <a href="{{ .Permalink }}">
                          {{ if isset .Params "banner" }}
                            <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="">
                          {{ else }}
                            <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                          {{ end }}
                        </a>
                    </div>
                    <div class="name same-height-always">
                       <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                    </div> 
                </div>
                {{ end }}
            </div>

            <hr class="hidden-md hidden-lg">

        </div>

        <!-- /.col-md-4 -->

        {{ if isset .Site.Params "address" }}
        <div class="col-md-4 col-sm-6 text-center">

            <h4>Contact</h4>

            {{ .Site.Params.address | safeHTML }}
            
            <a href="https://www.google.ca/maps/place/180+Dundas+St+W,+Toronto,+ON+M7A+0A1/@43.6553678,-79.3886179,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34c95db6ef85:0x55cb989b006cdd75!8m2!3d43.6553678!4d-79.3864292" class="btn btn-small btn-template-main">Map</a>

            <a href="/menu/contact" class="btn btn-small btn-template-main">Go to contact page</a>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
            <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
            <p class="pull-right">
              Template by <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.
              <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->

              Ported to Hugo by <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>
            </p>
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
