{
  "Version":"2012-10-17",
  "Statement":[
    {
      "Sid": "AddPerm",
      "Effect": "Allow",
      "Principal": "*",
      "Action":   [ 
                    "${anon_actions}" 
      ],
      "Resource": [ 
                    "arn:aws:s3:::${fqdn}/*",
                    "arn:aws:s3:::${fqdn}" 
      ]
    }
  ]
}
